{% from "helper_macros.j2" import print_spdx_line %}
{{ print_spdx_line('Apache-2.0') }}
#include "{{ info.module_header }}"
#include <csignal>
#include <utils/exit_handler.hpp>

namespace module {

void {{ info.class_name }}::init() {
    {% for impl in provides %}
    invoke_init(*p_{{ impl.id }});
    {% endfor %}
}

void {{ info.class_name }}::ready() {
    std::signal(SIGINT,  Everest::ExitHandler::exit_handler);
    std::signal(SIGTERM, Everest::ExitHandler::exit_handler);
    {% for impl in provides %}
    invoke_ready(*p_{{ impl.id }});
    {% endfor %}
}

} // namespace module
